<h1 class="display-5 mt-5 pb-5" >Panagiotis Zinoviev</h1>

<div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <%= image_tag( 'lawyer.jpg', class: 'd-block w-100') %>
          


      </div>
    </div>
