<h1 class = "general__header"> <span class = "text-muted"><%= @user.last_name %></span>'s Profile</h1>
<ul>
  <li> first name: <%= @user.first_name %> </li>
  <li> last name: <%= @user.last_name %></li>
  <li> email: <%= @user.email %></li>

</ul>
