
<% if model.errors.any? %>
<h1>FOOAR</h1>
 <div id="error_explanation">
  <div class="alert alert-danger">
    The form contains <%= pluralize(model.errors.count, "error") %>.
  </div>
  <div class="">
  <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
 <% end %>
